* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

img{
  width: 50vw;


}

img:hover{
  filter: blur(5px);
  mix-blend-mode: multiply;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column{
    flex: 1;
    justify-content: flex-start;
    width: 50vw;
    display: inline-block;
    position: relative;
}

.move{
  top: 0;
  left: 40rem;
  position: absolute;
}
