* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 1vw;
   /* background: linear-gradient(5deg, #3c8df4 0%, #f7d79c 51%, #e688a3 85%); */
}

body{
  padding: 1rem;
  overflow-x: hidden;
  /* display: grid; */

}

nav{
  position: absolute;
  padding-bottom: 2vw;
  width: 100vw;
}

@font-face{
  font-family: 'RJMyth';
  src: url('./fonts/RJMyth-Regular.otf') format('otf');
  src: url('./fonts/RJMyth-Regular.woff') format('woff');
}

@font-face{
  font-family: 'Garamond';
  src: url('./fonts/Italian-Garamond-Regular.otf') format('otf');
  src: url('./fonts/Italian-Garamond-Regular.woff') format('woff');
}

p{
  font-family: 'RJMyth';
  font-size: 2vw;
  line-height: 2.2vw;
  color: black;
}

a{
  text-decoration: none;
  color: white;
}

.img-container{
  display: flex;
  justify-content: center;
}

.solo-img{
  width: 30vw;

}

.solo-img img{
  width: 30vw;
}

.archivee{
  float: right;
  text-align: left;
  right: 0;
  position: fixed;
  top: 1;
  padding: 1vw;
  padding-top: 0;
  color: black;
  z-index: 1000;
  cursor: pointer;
  display: none;
}

#archive{
  float: right;
  padding-right: 1rem;
  display: inline-block;
  z-index: 1000;
  position: fixed;
  right: 0;
  cursor: pointer;
}

li:hover{
  font-style: italic;
}

.dot{
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  /* display: inline-block; */
}

img{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  filter: saturate(0);
  mix-blend-mode: multiply;
  z-index: 1000;
}

img:hover{
  mix-blend-mode: normal;
  filter: drop-shadow(5px 5px 30px yellow);
}

.caption{
  font-size: .8rem;
  padding: 1vw;
  position: fixed;
  text-align: center;
  display: none;
  bottom: 0;
  left: 0;
  color: white;
}

img:hover + .caption{
  display: block;
}

.heading{
  z-index: 1000;
  display: inline-block;
}

.heading:hover ~ .about{
  visibility: visible;
}

.heading:hover{
    font-style: italic;
}

.about{
  visibility: hidden;
  bottom: 0;
  position: fixed;
  padding-bottom: 1em;
}

li{
  list-style: none;
}

a:hover + .about{
  display: block;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: 1vw;
  color: white;
}

#container{
  display: flex;
  height: 100vh;
  touch-action: none;
  user-select: none;

}

#item{
  width: 30vw;
  position: relative;
  touch-action: none;
  user-select: none;
  cursor: move;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 90px;
    position: relative;
    height: auto;
}

#year-a{
  display: none;
}

#year-b{
  /* visibility: hidden; */
  display: none;
}

#year-c{
  display: none;
  /* visibility: hidden; */
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.visibility{
  visibility: visible;
  display: grid;
  position: relative;
}

.gallery:nth-of-type(1){
  /* visibility: hidden; */
  top: 0;
  display: none;
}

.gallery:nth-of-type(2){
  position: absolute;
  top: 0;
  /* visibility: hidden; */
  display: none;
}

.gallery:nth-of-type(3){
  position: absolute;
  top: 0;
  display: none;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* object-position: left; */
  touch-action: none;
  user-select: none;
}

.gallery__item--1 {
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row-start: 2;
   grid-row-end: 5;
}

.gallery__item--2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 9;
    object-position: right;
}

.gallery__item--4 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 11;
}

.gallery__item--5 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 23;
    grid-row-end: 27;
}

.gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 16;
}

.gallery__item--7 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 13;
    grid-row-end: 17;
}

.gallery__item--8 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 18;
    grid-row-end: 22;
}

.gallery__item--9 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 18;
    grid-row-end: 22;
}

.gallery__item--10 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 27;
    grid-row-end: 35;
}

.gallery__item--11 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 8;
}

.gallery__item--12 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

.gallery__item--13 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 10;
}

.gallery__item--14 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 15;
}

.gallery__item--15 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 15;
    grid-row-end: 18;
}

.gallery__item--16 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 19;
    grid-row-end: 23;
}

.gallery__item--17 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 24;
    grid-row-end: 27;
}

.gallery__item--18 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 24;
    grid-row-end: 26;
}

.gallery__item--19 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 27;
    grid-row-end: 30;
}

.gallery__item--20 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--21 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 8;
}

.gallery__item--22 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 10;
}

.gallery__item--23 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 12;
}

.gallery__item--24 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 14;
}

.gallery__item--25 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 14;
    grid-row-end: 16;
}

.gallery__item--26 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 18;
    grid-row-end: 20;
}

.gallery__item--27 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 21;
    grid-row-end: 23;
}

.gallery__item--28 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 22;
    grid-row-end: 24;
}

@media only screen and (max-device-width: 600px) {

/* body {
  padding: 3vw;
} */

.solo-img{
    width: 70vw;
  }

.solo-img img{
    width: 70vw;
}

p{
  font-size: 4vw;
  line-height: 4.3vw;
}
